* {
    font-family: "Roboto Light";
    margin: 0;
    padding: 0;
}

#a {
    padding: 2%;
    background-color: #d7c1ab;
    border: #d7c1ab;
}
 .row {
    padding-left: 5%;
}

#b {
    padding: 2%;
    border: 2px solid #d7c1ab;
    background-color: white;
}

.quynh-li {
    list-style-type: none;
}

.quynh-app-menu {
    margin-bottom: 0;
    padding-bottom: 40px;
    list-style-type: none;
}

.quynh-app-menu__item {
    display: flex;
    border: 1px solid rgb(22 22 72);
    border-radius: .375rem;
    margin-bottom: 10px;
    padding: 15px;
    font-size: 1.08em;
    text-decoration: none;
    color: black;

}

.quynh-app-menu__item:hover {
    background: #eedac6;
    text-decoration: none;
    color: rgb(22 22 72);
    box-shadow: none;
    border: 1px solid rgb(22 22 72);
}

.quynh-app-menu__label {
    padding-left: 7px;
    white-space: nowrap;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
}

.border-camera {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 75px;
    background-color: #d7c1ab;
    border-radius: 50px;
    width: 50px;
    height: 50px;

}

.avatar {
    position: relative;
    padding-right: 0;
}

.border-avatar {
    border: 3px solid;
    border-color: #787470;
}

.bi-eye {
    color: #d7c1ab;
}

.bi-eye-slash {
    color: #d7c1ab;
}

.eye-password {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 7px;
    margin-right: 23px !important;
}

.bg-coffe {
    background-color: #d7c1ab;
}

.bi::before, [class^="bi-"]::before, [class*=" bi-"]::before {
    display: inline !important;
}

.btn-quynh:hover {
    box-shadow: none !important;
    transform: scale(1.05);
}

.body_wrap, ::after, ::before {
    background-color: transparent;
}
 @media (max-width: 820px) {
     #quynh .container_password{
        max-width: 763px ;
    }
     #quynh .container2_password{
         margin-top: 6%;
     }
}
@media (max-width: 375px) {
    #quynh .container2_password{
        margin-top: 10%;
    }

}

