.container_bgHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 28%;
}
.h1_content{
    font-size: 32px;
    margin-bottom: 50px;
}
.h1_strong{
    display: block;
    line-height: 1;
    font-size: 72px;
    font-weight: 600;
    letter-spacing: 3px;
}
@media (max-width: 412px) {
    .h1_strong {
        font-size: 60px;
    }
}
@media (max-width: 412px) {
    .span_content{
        font-size: 50px;
    }
}
.span_content{
    z-index: 1;
    position: relative;
    color: #c7a17a;
    display: inline-block;
    font-size: 74px;
    font-weight: 600;
}
.span_content::before{
    top: 100%;
    left: 50%;
    content: "";
    width: 230px;
    height: 50px;
    position: absolute;
    background-size: auto;
    transform: translateX(-50%);
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("shape_02.png");
}

.banner_image {
    margin-top: -19%;
}
@media (max-width: 540px) {
    .banner_image {
        margin-top: 0%;
    }
}

.banner_image img {
    max-width: 100%;
    height: auto;
    animation: updown 1s infinite alternate;
}

.content_bgHeader {
    margin-top: 32px;
    padding: 4px;
    box-sizing: border-box;
    /*font-family: 'Poppins';*/
}

@keyframes updown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }
}

@media (min-width: 1023px) {
    .container_bgHeader {
        flex-direction: row;
        justify-content: center;
        text-align: center;
        margin-top: 9%;
    }

    .banner_image {
        margin-top: 0;
        margin-right: 32px;
    }

    .content_bgHeader {
        margin-top: 0;
        margin-bottom: 32px;
    }
}

@media (max-width: 768px) {
    .banner_image img {
        max-width: 80%;
    }
}

@media (max-width: 480px) {
    .banner_image img {
        max-width: 60%;
    }
}
.btn_a_top {
    border: none;
    outline: none;
    line-height: 1;
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
    padding: 21px 42px;
    border-radius: 5px;
    display: inline-block;
    transition: 0.6s cubic-bezier(0.25, 1, 0.5, 1);
    /*font-family: 'Jost', sans-serif;*/
    background-color: #c7a17a;
    text-decoration: none;
}
.btn_a_new {
    border: none;
    outline: none;
    line-height: 1;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    padding: 21px 42px;
    border-radius: 5px;
    display: inline-block;
    transition: 0.6s cubic-bezier(0.25, 1, 0.5, 1);
    /*font-family: 'Jost', sans-serif;*/
    background-color: #c7a17a;
    text-decoration: none;
    margin-left: 39px;
}
.btn_a:hover{
    color: black;
}